<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathsgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".addition.levelActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".substraction.substraction.levelActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.levelActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.levelActivity"
            android:screenOrientation="landscape"></activity>





        <activity
            android:name=".addition.level1.TryAgain1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level2.TryAgain2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level3.TryAgain3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level1.TryAgain1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level2.TryAgain2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level3.TryAgain3Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".multiplication.level1.level1.TryAgain1Activity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".multiplication.level1.level2.TryAgain2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level3.TryAgain3Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level1.TryAgain1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level2.TryAgain2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level3.TryAgain3Activity"
            android:screenOrientation="landscape"></activity>




        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".addition.level1.Hint1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level2.Hint2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level3.Hint3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level1.Hint1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level2.Hint2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level3.Hint3Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".multiplication.level1.level1.Hint1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level2.Hint2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level3.Hint3Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level1.Hint1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level2.Hint2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level3.Hint3Activity"
            android:screenOrientation="landscape"></activity>







        <activity
            android:name=".addition.level1.Congratulations1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level2.Congratulations2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level3.Congratulations3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level1.Congratulations1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level2.Congratulations2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level3.Congratulations3Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".multiplication.level1.level1.Congratulations1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level2.Congratulations2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level3.Congratulations3Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level1.Congratulations1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level2.Congratulations2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level3.Congratulations3Activity"
            android:screenOrientation="landscape"></activity>




        <activity
            android:name=".addition.level1.Addition1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level2.Addition2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addition.level3.Addition3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level1.Sub1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level2.Sub2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".substraction.substraction.level3.Sub3Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".multiplication.level1.level1.Mul1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level2.Mul2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".multiplication.level1.level3.Mul3Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level1.div1Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level2.div2Activity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".division.level3.div3Activity"
            android:screenOrientation="landscape"></activity>





        <activity
            android:name=".HomeActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".sound.HappySoundService"
            android:enabled="true" />
        <service
            android:name=".sound.SadSoundService"
            android:enabled="true" />
        <service
            android:name=".sound.bgSoundService"
            android:enabled="true" />
    </application>

</manifest>